:root {
	--black: 				#000;
	--light-grey:		hsl(0, 0%, 62.4%);
	--white: 				#fff;
	--green: 				hsl(115.6, 28.3%, 47.1%);
	--yellow: 			hsl(54, 47.9%, 63.1%);
	--red: 					hsl(348.2, 51.5%, 55.5%);
	--blue: 				hsl(200.3, 47.6%, 51.4%);
}

/* font-family: 'Montserrat', sans-serif;

font-family: 'Source Serif Pro', serif; */
body {
	margin: 0px;
}
html{
	font-family: 'Montserrat', sans-serif;
	color: var(--black);
}

p {
	font-family: 'Source Serif Pro', serif; 
	font-size: 18px;
}


