._m_zero-auto {
	margin: 0 auto;
}

._mt_std {
	margin-top: 1rem;
}

._mb_std {
	margin-bottom: 1rem;
}

._ml_std {
	margin-left: 1rem;
}

._mr_std {
	margin-right: 1rem;
}

._p-std{
	padding: 1rem;
}

._site-width {
	max-width: 1200px;
}