---
layout: default.njk
title: Goals
---

<article>
	<h1>Goals</h1>
	<p>
	</p>
	<ul>
		<li>Use Progressive Enhancment</li>
		<li>Don't get hung up on <i>anything</i>:
			<ul>
				<li><strike>technology</strike></li>
				<li><strike>subject matter</strike></li>
				<li>I'll add more as I feel hung up on more things</li>
			</ul>
		</li>
		<li>Write something weekly</li>
		<li>Don't fiddle with the design too much</li>
	</ul>
</article>