---
layout: default.njk
pagination:
  data: collections.blog
  size: 10
  alias: blog
title: Home
---
<div class="post-teaser-list">
	<div class="list-header">Latest</div>
	<ul>
		{%- for post in collections.blog | reverse -%}
			<li>
			{% if post.data.img %}
				<img src="{{ post.data.img }}" alt="{{ post.data.imgAlt }}">
				{% else %}
				<img src="img/placeholder.svg">
			{% endif %} 
			<div class="teaser-content">
				<h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
				<small>{{ post.date }}</small>
				{% if post.data.tldr %}
					<p>{{ post.data.tldr }}</p>
				{% endif %} 
			</div>
			</li>
		{%- endfor -%}
	</ul>
</div>