---
siteTitle: Mike Jeffery

---

<!doctype html>
<html lang="en">

  {% include "head.njk" %}

<body>
  {% include "header.njk" %}
	<div class="_site-width _m_zero-auto">
		{{ content | safe }}
	</div>
  {% include "footer.njk" %}
</body>

</html>