<footer id="site-footer">
	<div class="_site-width _m_zero-auto">
		<div class="_p-std">
		Come say hi 👋 on <a href="https://twitter.com/fellaroonie" target="_blank" rel="noreferrer noopener">Twitter</a>, or shoot me an <a href="mailto:mikejeff.dev@gmail.com">email</a>.
		<div id="copyright">© 2021 Mike Jeffery</div>
		</div>
	</div>
</footer>