<header id="site-header">
	<div class="_site-width _m_zero-auto">
		<div class="_p-std">
			<div id="site-logo">
				<img src="../../img/logo.svg" alt="site logo">
			</div>
			<nav class="site-nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/goals">Goals</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>